doctype html
html
  head
    title #{siteName}
    meta(name='description', content='html5beta.com')
    meta(name='keywords', content='html5beta.com')
    include ./parts/react-header
  body
    #main
      #content
        h1 html5beta.com
        .container
          .column
            h2 Apps
            ul
              each val, i in apps
                li
                  h3
                    a(href=val.url || val.homepage) #{val.title || val.name}
                  p.color-grey #{val.desc || val.description}
          .column
            h2 Tools
            ul
              each val, i in tools
                li
                  h3
                    a(href=val.url) #{val.title}
                  p.color-grey #{val.desc}
          .column
            h2 Links
            .post
              ul
                each val, i in list
                  li
                    h3
                      a(href=val.homepage || val.url) #{val.title || val.name}
                    p.color-grey #{val.desc || val.description}

        #container
    script.
      window.initShape = 'light'
    include ./parts/react-common
    include ./parts/react-footer
